body {
  margin: 10px auto;
  min-width: 280px;
  max-width: 50%;
  background-color: rgb(103, 199, 202);
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 15px 8px 15px 45px;
  list-style-type: none;
  background: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #ffffff;
  }

  ul li:hover {
    background: rgb(134, 131, 131);
  }

  ul li.checked {
    background: rgb(15, 134, 79);
    color: rgb(175, 34, 34);
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
